EXPO_PUBLIC_CEFI_API_URL=
EXPO_PUBLIC_SSO_WEBSITE=
EXPO_PUBLIC_MEDIA_HOST=

EXPO_PUBLIC_WALLET_MASTER_KEY=
EXPO_PUBLIC_WALLET_PRIVATE_KEY_SERVICE=
EXPO_PUBLIC_WALLET_DEFI_PASSWORD_SERVICE=
EXPO_PUBLIC_WALLET_DEFI_PHRASE_SERVICE=
EXPO_PUBLIC_WALLET_BIOMETRY_PRIVATE_KEY_SERVICE=
EXPO_PUBLIC_WALLET_BIOMETRY_DEFI_PASSWORD_SERVICE=
EXPO_PUBLIC_WALLET_BIOMETRY_DEFI_PHRASE_SERVICE=
EXPO_PUBLIC_WALLET_CEFI_TOKEN_SERVICE=
EXPO_PUBLIC_WALLET_CEFI_REFRESH_TOKEN_SERVICE=

EXPO_PUBLIC_APP_ENV=
EXPO_PUBLIC_APP_VERSION=
EXPO_PUBLIC_DEEP_LINK_SCHEME=

EXPO_PUBLIC_EVM_RPC_URL=
EXPO_PUBLIC_TRON_RPC_URL=

EXPO_PUBLIC_SENTRY_DSN=

EXPO_PUBLIC_ONRAMP_ENCRYPTION_PASSPHRASE=
EXPO_PUBLIC_ONRAMP_ENCRYPTION_IV=
EXPO_PUBLIC_ENABLE_COINBASE_ONRAMP=

EXPO_PUBLIC_APP_STORE_URL=
EXPO_PUBLIC_PLAY_STORE_URL=

EXPO_PUBLIC_CIFI_API_PUBLIC_KEY_HASHES=

# ------------------------------------------------------------

SENTRY_AUTH_TOKEN=
SENTRY_PROJECT=
SENTRY_ORGANIZATION=